.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  color: green;
  padding: 0 20px;
  text-align: center;
  margin: 10% auto;
  width: 90%;
  height: 50%;
}
p {
  color: black;
  font-style: italic;
}
h1 {
  font-size: 4vw;
}
.footer-col-wrapper {
  margin: 0px auto;
  text-align: center;
}