#textbox {
  height: 80%;
  text-align: center;
  padding: 0 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  color: green;
}
p {
  color: black;
  font-style: italic;
}
h1 {
  font-size: 4em;
}